body {
	padding: 8px 20px;
	background: #333333;
	font-family: sans-serif;
}

button {
  background: none;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 2px 4px;
  color: grey;
  text-wrap: nowrap;
}

#masthead {
	font-family: Verdana, Geneva, sans-serif;
	max-width: 100%;
	border: 10px solid #222222;
	margin-bottom: 10px;
	color: #222222;
  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
}

#title {
	font-size: xx-large;
	padding: 4px 10px;
	font-weight: bolder;
}

#status {
  font-size: small;
  color: grey;
  margin: auto 10px auto auto;
}

#control {
  font-size: medium;
  margin: auto 10px auto auto;
}

#nodes {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.25rem;
	margin-right: -0.25rem;
}

.node {
  font-family: sans-serif;
  text-align: left;
  padding: 0.25rem;
  max-width: 20em;
}

table {
	background: grey;
	border: 1px solid black;
	border-collapse: collapse;
}

table caption {
	border: 1px solid black;
	background: lightgrey;
}

th, td {
	vertical-align: top;
	padding: 0.1rem 0.25rem;
}

td {
}

.state_okay, [data-state="okay"] {
	background: green;
}

.state_unknown, [data-state="unknown"] {
	background: olive;
}

.state_warning, [data-state="warning"] {
	background: orange;
}

.state_error, [data-state="error"] {
	background: darkred;
	color: #FFCCCC;
}

.state_unusable, [data-state="unusable"] {
	background: black;
	color: white;
}

state.acknowledged, [data-state="acknowledged"] {
	background: lightblue;
	color: black;
}

tr.stale {
	opacity: 0.5;
}

tr.acknowledged {
	background: lightblue;
	color: black;
}

tr.pending {
	opacity: 0.8;
}
div.group {
  border: 1px solid black;
  margin: 0.25em 0.5em;
  opacity: 0.8;
}

div.group h1 {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  background-color: rgba(0, 0, 0, .10);
  margin: 0;
  padding: 0.25em 0.5em;
}
